/* Comet64 by Stephen Jianu */

:root {
  --base00: #1f292b;
  --base01: #2a3436;
  --base02: #636e71;
  --base03: #6f7b7d;
  --base04: #a99b81;
  --base05: #b7a88e;
  --base06: #fff3d7;
  --base07: #ffffe5;
  --base08: #674444;
  --base09: #a98181;
  --base0A: #676744;
  --base0B: #81a984;
  --base0C: #81a9a8;
  --base0D: #8186a9;
  --base0E: #a981a1;
  --base0F: #67445f;
}

